<section class="container-fluid w-[67%] pb-2 m-auto histories flex flex-row gap-4 overflow-x-auto">
  <button class="do-history hover:bg-gray-300 transition" [routerLink]="'/create'">
    <div class="h-[225px] w-[125px] relative rounded-md shadow-md ">
      <div class="header ">
        <img [src]="userPhoto" appDefaultImage class="rounded-tl rounded-tr w-full object-cover h-[150px] hover:bg-gray-300 transition" alt="Foto usuario">
      </div>
      <div class="body absolute top-32 right-1/3  rounded-full border-4 border-white hover:bg-gray-300 transition">
        <img src="assets/icons/plus_circle.svg" class="size-8 bg-bg-accent rounded-full " alt="plus_circle">
      </div>
      <div class="footer bg-white rounded-bl rounded-br py-[25px] text-center hover:bg-gray-300 transition">
        <span class="text-[13px] font-semibold text-primary-text">Crear historia</span>
      </div>
    </div>
  </button>


  <button class="see-history rounded-md flex flex-row gap-4 ">
    <ng-container *ngFor="let sto of contenidoHistorias">
     
        <div class="h-[225px] w-[125px] relative rounded-md shadow-md ">
          <div class="header absolute z-20 border-4 border-bg-accent rounded-full m-1">
            <img [src]="sto.user?.foto" appDefaultImage class="size-10 rounded-full object-cover " alt="Foto usuario">
          </div>

          <div class="body h-full rounded hover:scale-105 hover:opacity-75 transition">
            <img [src]="sto.contenido.imagen_contenido" id="imagen-sto" class="rounded h-full object-cover" alt="Historia">
          </div>
          
      
          <div class="footer absolute bottom-0 text-start p-4">
            <span class="text-[14px] font-semibold text-pretty text-white "> {{sto.user?.nombre + ' ' + sto.user?.apellido}} </span>
          </div>
        </div>
      
    </ng-container>
  </button>
</section>

