<nav>
  <div class="grid grid-cols-3 grid-flow-col gap-10 w-full p-4">

    <div class="search-item flex flex-row items-center content-center">
      <a class="me-2" [href]="'home'" id="fb">
        <img src="assets/icons/nav-icons/facebook.svg" [@openClose]="!isSearchClicked ? 'open' : 'closed'" class="size-10" alt="Facebook logo">
        <img src="assets/icons/nav-icons/arrow_right.svg" [@openClose]="isSearchClicked ? 'open' : 'closed'" class="size-6" (click)="isSearchClicked = false" alt="Buscar">
      </a>
      <img id="search_ic" class="size-6 text-gray-200" [@openClose]="!isSearchClicked ? 'open' : 'closed'"
        alt="search_svg" src="assets/icons/search_svg.svg" />
      <input id="search_btn" placeholder="Buscar en Facebook" [@paddingL]="!isSearchClicked ? 'whPd' : 'wiPd'"
        (click)="searchClicked($event)">
    </div>

    <div id="icons" class="header-menu-item mx-auto">
      <div class="grid grid-flow-col auto-cols-max justify-center">

        <ng-container *ngFor="let itemMenu of tooltipTextMenu; let i = index">
          <a [href]="itemMenu.route" [attr.data-tooltip-target]="i" data-tooltip-placement="bottom" type="button">
            <img [src]="itemMenu.icon" class="size-7" [alt]="itemMenu.text">
            <app-tooltip-message 
            [id]="i"
            [message]="itemMenu.text"
            />
            
          </a>
        </ng-container>

      </div>
    </div>

    <div id="icons" class="profile-menu-item ms-auto">
      <div id="profile" class="grid grid-flow-col auto-cols-max justify-center gap-x-2 ">
        <ng-container *ngFor="let itemLeft of tooltipOptions; let tool = index">
          <a [attr.data-tooltip-target]="itemLeft.texto" data-tooltip-placement="bottom" type="button">

            <img [src]="itemLeft.icon" class="size-7" [alt]="itemLeft.texto">

            <app-tooltip-message 
            [id]="itemLeft.texto"
            [message]="itemLeft.texto"
            />
        
          </a>
        </ng-container>

        <div class="user-info">
          
          <a>
            <img src="assets/test_images/profile1.jpeg" class="rounded-full size-12 object-cover" alt="">
          </a>
        </div>

      </div>
      
    </div>

  </div>

</nav>