nav {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  display: flex;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

#search_btn {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.068);
  width: calc(100% * .5);
  height: 40px;
  font-size: 1rem;
  border-radius: 16px;
  cursor: text;
}

 #search_ic {
  position: absolute;
  top: 20px;
  left: 90px;
}

#icons #tool {
  min-width: 100px;
  max-width: 125px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

#icons #profile #tool {
  background-color: var(--content-bg-icons);
  min-width: 50px;
  border-radius: 50%;
}

#icons a:hover {
  background-color: var(--content-bg);
  color: #333;
}

#menu-profile {
  padding: 10px;
}

