<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="fixed bg-white top-0 left-0 z-40 w-96 h-svh transition-transform -translate-x-full sm:translate-x-0 border-r-4 border-gray-50 shadow-lg"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div class="contenido-header flex flex-col gap-y-10">
      <div class="flex flex-row gap-4 items-center">
        <button [routerLink]="'/home'">
          <img
            src="assets/icons/x_mark.svg"
            class="rounded-full bg-bg-cancel size-12 p-2"
            alt="icono"
          />
        </button>
        <span class="text-2xl font-bold">Tu historia</span>
      </div>
      <div class="user flex flex-row items-center gap-5">
        <img [src]="foto" class="size-14 rounded-full object-cover" alt="" />
        <span class="text-lg"> {{ nombre + " " + apellidos }} </span>
      </div>
    </div>

    <hr class="h-px my-6 bg-gray-200 border-0 dark:bg-gray-700" />

    <ng-container *ngIf="addStoryWithText">
      <div class="content-options flex flex-col gap-y-6">
        <textarea
          [formControl]="textoHistoria"
          placeholder="Empieza a escribir"
          class="w-full border rounded-md resize-none h-[100px] border-gray-300"
        ></textarea>
        <div class="select-type relative">
          <img
            src="assets/icons/letters.svg"
            class="absolute top-[20%] left-3"
            alt="icon"
          />
          <select
            [formControl]="tipoTexto"
            class="w-full border rounded-sm h-[50px] ps-12 border-gray-300"
          >
            <option value="claro" selected>Claro</option>
            <option value="informal">Informal</option>
            <option value="elegante">Elegante</option>
            <option value="titulo">Titulo</option>
          </select>
        </div>
        <div
          class="w-full border rounded-lg border-gray-300 h-[100px] flex flex-col items-start flex-wrap justify-start px-4 py-2 gap-y-1"
        >
          <span class="text-gray-500">Fondos</span>
          <div class="fondos flex flex-row gap-2">
            <button
              class="rounded-full border"
              (click)="selectedOption = 'opcion1'"
            >
              <img
                src="assets/images/backgrounds/opcionfondo1.jpg"
                class="size-6 rounded-full"
                alt="fondo1"
              />
            </button>
            <button
              class="rounded-full border"
              (click)="selectedOption = 'opcion2'"
            >
              <img
                src="assets/images/backgrounds/opcionfondo2.jpg"
                class="size-6 rounded-full"
                alt="fondo1"
              />
            </button>
            <button
              class="rounded-full border"
              (click)="selectedOption = 'opcion3'"
            >
              <img
                src="assets/images/backgrounds/opcionfondo3.jpg"
                class="size-6 rounded-full"
                alt="fondo1"
              />
            </button>
            <button
              class="rounded-full border"
              (click)="selectedOption = 'opcion4'"
            >
              <img
                src="assets/images/backgrounds/opcionfondo4.jpg"
                class="size-6 rounded-full"
                alt="fondo1"
              />
            </button>
            <button
              class="rounded-full border"
              (click)="selectedOption = 'opcion5'"
            >
              <img
                src="assets/images/backgrounds/opcionfondo5.jpg"
                class="size-6 rounded-full"
                alt="fondo1"
              />
            </button>
            <button
              class="rounded-full border"
              (click)="selectedOption = 'opcion6'"
            >
              <img
                src="assets/images/backgrounds/opcionfondo6.jpg"
                class="size-6 rounded-full"
                alt="fondo1"
              />
            </button>
          </div>
        </div>
      </div>

      <div class="opt-buttons flex flex-row justify-center items-end my-10 gap-x-6">
        <button type="button" class="bg-bg-cancel px-4 py-2 rounded-md">
          Descartar
        </button>
        <button
          type="button"
          class="bg-bg-accent rounded-md px-4 py-2 text-white"
          (click)="publishStory()"
        >
          Compartir en historia
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="addStoryWithImage">
        <div class="opt-buttons flex flex-row justify-center items-end my-10 gap-x-6">
            <button type="button" class="bg-bg-cancel px-4 py-2 rounded-md">
              Descartar
            </button>
            <button
              type="button"
              class="bg-bg-accent rounded-md px-4 py-2 text-white"
              (click)="publishStoryWithImage()"
            >
              Compartir en historia
            </button>
          </div>
    </ng-container>
    
  </div>
</aside>

<ng-container *ngIf="!imageUrl && !addStoryWithText">
  <div
    class="p-4 sm:ml-64 bg-main-white h-svh w-auto flex items-center justify-center gap-4"
  >
    <label
      for="dropzone-file"
      class="create-story-image cursor-pointer relative h-[330px] w-[220px] rounded-lg hover:saturate-150 transition"
    >
      <div class="absolute top-[40%] text-center w-full">
        <img
          src="assets/icons/library_photo.svg"
          class="size-10 mx-auto bg-white rounded-full p-2"
          alt=""
        />
        <span class="text-white font-semibold"
          >Crear una historia con foto</span
        >
        <input
          id="dropzone-file"
          (change)="onFileSelected($event)"
          type="file"
          class="hidden"
          accept="image/jpeg,jpg,png"
        />
      </div>
    </label>
    <button
      type="button"
      (click)="seeAddStoryWithText()"
      class="create-story-text cursor-pointer relative h-[330px] w-[220px] rounded-lg hover:saturate-150 transition"
    >
      <div class="absolute top-[40%] text-center w-full">
        <img
          src="assets/icons/letters.svg"
          class="size-10 mx-auto bg-white rounded-full p-2"
          alt=""
        />
        <span class="text-white font-semibold"
          >Crear una historia con texto</span
        >
      </div>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="addStoryWithText">
  <div
    class="p-4 sm:ml-64 bg-main-white h-svh w-auto flex items-center justify-center gap-4"
  >
    <div class="preview rounded-lg shadow-xl w-2/4 h-[90%] mx-auto bg-white">
      <div class="text text-start m-4">
        <span class="text-sm font-semibold">Vista previa</span>
      </div>
      <div
        class="content-preview rounded-lg flex items-center justify-center bg-black h-[90%] w-[95%] text-center m-auto"
      >
        <div class="background rounded-lg h-[90%] w-2/4">
          <textarea
            [value]="textoHistoria.value"
            placeholder="EMPIEZA A ESCRIBIR"
            [ngClass]="changeStyleText(tipoTexto.value)"
            [ngStyle]="getBackgroundStyle()"
            class="w-full h-full border-0 resize-none bg-transparent rounded-lg text-center text-white placeholder:text-white leading-10 flex items-center justify-center py-72 snap-none"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="imageUrl">
  <div
    class="p-4 sm:ml-64 bg-main-white h-svh w-auto flex items-center justify-center gap-4"
  >
    <div class="preview rounded-lg shadow-xl w-2/4 h-[90%] mx-auto bg-white">
      <div class="text text-start m-4">
        <span class="text-sm font-semibold">Vista previa</span>
      </div>
      <div
        class="content-preview rounded-lg flex items-center justify-center bg-black h-[90%] w-[95%] text-center m-auto"
      >
        <div class="background rounded-lg h-[90%] w-2/4">
          <img
            [src]="imageUrl"
            class="h-full object-cover"
            alt="preview de la foto"
          />
        </div>
      </div>
    </div>
  </div>
</ng-container>
