<app-navbar
  [name]="nombre"
  [lastName]="apellidos"
  [userPhoto]="foto"
  [loading]="loading"
/>
<div class="flex flex-row pb-10" id="main">
  <div class="basis-1/4">
    <app-sidebar 
      [userName]="nombre"
      [lastName]="apellidos"
      [userPhoto]="foto"
      [loading]="loading"
    />
  </div>
  <div class="basis-1/2">

    <app-do-pub
    [userName]="nombre"
    [lastName]="apellidos"
    [userPhoto]="foto"
    />
    
    <app-historias 
     [userPhoto]="foto"
    />
    
    <app-main-publicaciones
    [userName]="nombre"
    [userPhoto]="foto"
    [loading]="loading"
    [userId]="userId"
    />
  </div>
  <div class="basis-1/4">
    <app-users-list [otherUsers]="otherUsers" [loading]="loading" />
  </div>
</div>
