<!-- Button trigger modal -->
<button type="button" class="btn btn-green-fb fw-bold fs-6 text-white mt-5" data-bs-toggle="modal"
  data-bs-target="#staticBackdrop">
  Crear cuenta nueva
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column justify-content-start align-items-start">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel">Registrarte</h1>
        <span class="fw-5 text-secondary">Es rápido y fácil.</span>
      </div>
      <div class="modal-body">

        <form class="row g-2 needs-validation" [formGroup]="registerUser" (submit)="registerWithEmailAndPassword()" novalidate >
          <div class="form-floating col-md-6">
            <input type="text" class="form-control" formControlName="nombre" name="nombre" placeholder="Nombre"
              required />
            <label for="floatingInput">Nombre</label>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-floating col-md-6">
            <input type="text" class="form-control" formControlName="apellido" name="apellidos" placeholder="Apellidos" 
              required />
            <label for="floatingInput">Apellidos</label>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-floating col-md-12">
            <input type="text" class="form-control" formControlName="email" name="email" placeholder="Correo electronico" 
              required />
            <label for="floatingInput">Correo electronico</label>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-floating col-md-12">
            <input type="text" class="form-control" formControlName="password" name="password" placeholder="Contraseña nueva" 
              required />
            <label for="floatingInput">Contraseña nueva</label>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-green-fb">Registrarse</button>
          </div>

        </form>

      </div>
      
    </div>
  </div>
</div>