<div class="container-fluid w-4/5 p-0 m-auto shadow-md publicacion-user">
    
    <div class=" flex flex-row items-center justify-center my-4 gap-2 w-full">
        <div class="img-user basis-1/5">
            <img [src]="userPhoto" class="" alt="Imagen del usuario loggin">
        </div>
        <div class="publicacion basis-4/5">
            <div type="text" class="publication rounded-md" >
                ¿Qué estás pensando, {{userName}} ?
            </div>
        </div>    
    </div>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

    <div class="interacciones ">
        <ul class="list-none grid grid-cols-3 items-center justify-center ">
            <li >
                <img src="assets/icons/camera_svg.svg" class="size-6 " alt="">
                <span class="text-[#65676b] font-semibold text-sm my-auto">Video en vivo</span>
            </li>
            <li >
                <img src="assets/icons/picture_svg.svg" class="size-6" alt="">
                <span class="text-[#65676b] font-semibold text-sm my-auto">Foto/video</span>
            </li>
            <li >
                <img src="assets/icons/emoji_svg.svg" class="size-6" alt="">
                <span class="text-[#65676b] font-semibold text-sm my-auto">Sentimiento/actividad</span>
            </li>
        </ul>
    </div>
    
</div>