.publicacion-user{
    border-radius: 12px;
    background-color: #ffff;
    padding: 20px;
    margin-top: 20px;
}

.publication{
    width: 100%;
    padding: 10px;
    background-color: var(--content-bg);
    border: none;
    color: #8b8b8b;
}

.publication:hover{
    background-color: var(--content-bg-hover);
    cursor: pointer;
}

li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

li:hover{
    background-color: var(--content-bg);
    border-radius: 8px;
}

