<section id="login" class="h-svh flex items-center justify-center ">
  <div class="flex text-center w-[1400px]">
    <div class="flex flex-row ">
      <div class="basis-1/2">
        <div class="logo-container flex flex-col items- content-center">
          <img src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Logo de facebook"
            class="img-fluid size-1/2" />
          <span class="text-3xl text-start text-[#1c1e21]">
            Facebook te ayuda a comunicarte y compartir con las personas que
            forman parte de tu vida.
          </span>
        </div>
      </div>

      <div class="basis-1/2">
        <div class="form-container">
          <section>
            <form  class="card p-3 rounded-2xl shadow-lg w-[540px] mx-auto px-12" [formGroup]="loginUser" (submit)="loginForm()" >
              <div class="mb-3">
                <input type="text" class="form-control" id="floatingInput" name="nombre"
                  placeholder="Correo electrónico" formControlName="email" required />
          
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                  formControlName="password" required />
              </div>
              <div class="container-sm">
                <label *ngIf="error" class="text-danger">*Revise sus campos correctamente</label>
              </div>
              <div class="container-sm mt-10 w-100 flex justify-center items-center flex-col ">
                <button class="w-full font-bold text-xl bg-[#0866ff] text-white rounded-md h-12" type="submit">Iniciar sesión</button>
                <button id="forgot_paswd" type="button"
                  class="w-full btn my-3 p-2 rounded-2 border-1 shadow-md text-[#0866ff] border-white text-primary">¿Has olvidado la
                  contraseña?</button>
                  <!-- <app-register-component /> -->
              </div>
            </form>

            <div class="mt-4">
              <span>
                <b>Crea una página</b> para un famoso, una marca o una empresa.
              </span>
            </div>

          </section>
        </div>
      </div>
    </div>

  </div>
</section>