<section id="login">
  <div class="container d-flex align-items-center justify-content-center text-center ">
    <div class="row ">
      <div class="col">
        <div class="logo-container d-flex flex-column align-items-start justify-content-center">
          <img src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Logo de facebook"
            class="img-fluid w-50 h-50" />
          <span class="fs-3 fw-medium text-opacity-75 text-start">
            Facebook te ayuda a comunicarte y compartir con las personas que
            forman parte de tu vida.
          </span>
        </div>
      </div>

      <div class="col">
        <div class="form-container">
          <section class="container-fluid ">
            <form #f="ngForm" class="card p-3 rounded-2 shadow-lg w-75 mx-auto" (ngSubmit)="f.valid && loginForm(f)">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="nombre"
                  placeholder="Correo electrónico" ngModel required />
                <label for="floatingInput">Correo electrónico</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                  ngModel required />
                <label for="floatingPassword">Contraseña</label>
              </div>
              <div class="container-sm">
                <label *ngIf="error" class="text-danger">*Revise sus campos correctamente</label>
              </div>
              <div class="container-sm mt-3 w-100">
                <button class="btn btn-primary w-100 fw-bold fs-5" type="submit">Iniciar sesión</button>
                <button id="forgot_paswd" type="button"
                  class="w-100 btn my-3 p-2 rounded-2 border-1 shadow-sm border-white text-primary">¿Has olvidado la
                  contraseña?</button>
                  <app-register-component />
              </div>
            </form>

            <div class="mt-4">
              <span>
                <b>Crea una página</b> para un famoso, una marca o una empresa.
              </span>
            </div>

          </section>
        </div>
      </div>
    </div>

  </div>
</section>