
<section class="container-fluid w-25 position-absolute top-50 start-50 translate-middle">

<form #f="ngForm" (ngSubmit)="f.valid && loginForm(f)">


<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="Username" required>
  <label for="floatingInput">Username</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
  <label for="floatingPassword">Password</label>
</div>
<div class="container-sm mt-3 ">
  <button class="btn btn-success" type="submit">Enviar</button>
</div>

</form>

</section>

