/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --content-bg-hover: #d9d9d9;
    --content-bg: #e6e6e6;
    --twing-error-box: red; 
    --content-bg-icons: #e4e6eb;
    --comment-bg :#f0f2f5;
}


.btn-green-fb{
    background-color: #42b72a;
    color: white;
    font-weight: bold;
}

.btn-green-fb-register{
    background-color: #00a400;
    color: white;
    font-weight: bold;
}

.btn-green-fb:hover{
    background-color: #359423;
    color: white;
}

.mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__end {
    display: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
