<section
  class="container-fluid md:w-4/6 w-full p-0 m-auto shadow-md publicacion-user my-6"
>
  <ng-container>
    <div class="flex flex-row items-center justify-center my-4 gap-2 w-full">
      <div class="img-user basis-1/10">
        <img
          [src]="userPhoto"
          class="size-12 rounded-full object-cover"
          alt="Imagen del usuario loggin"
          appDefaultImage
        />
      </div>
      <div class="publicacion basis-11/12">
        <button
        (click)="openEditModal()"          
          class="publication rounded-2xl hover:cursor-pointer text-start"
        >
          
            <p>¿Qué estás pensando, {{ userName }}?</p>
     
          
        </button>
        <app-modal-publi
          [userPhoto]="userPhoto"
          [userName]="userName"
          [lastName]="lastName"
          [userPhoto]="userPhoto"
          [isEditing]="false"
          [isOpen]="modalOpen"
        />

      </div>
    </div>
  </ng-container>

  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />

  <div class="interacciones">
    <div class="list-none flex flex-row items-center justify-around">
      <button class="flex flex-row gap-2 items-center">
        <img src="assets/icons/camera_svg.svg" class="size-6" alt="" />
        <span class="text-[#65676b] font-semibold text-sm my-auto"
          >Video en vivo</span
        >
      </button>
      <button class="flex flex-row gap-2 items-center" (click)="addFoto = true" >
        <img src="assets/icons/picture_svg.svg" class="size-6" alt="" />
        <span class="text-[#65676b] font-semibold text-sm my-auto"
          >Foto/video</span
        >
      </button>
      <button class="hidden xl:flex gap-2 flex-row items-center">
        <img src="assets/icons/emoji_svg.svg" class="size-6" alt="" />
        <span class="text-[#65676b] font-semibold text-sm my-auto"
          >Sentimiento/actividad</span
        >
      </button>
    </div>
  </div>
</section>
